
body {
  
  
  background-image: url("http://twcimages.blob.core.windows.net/product/brickwork-exposed-brick-texture-fwht-l.jpg");
  background-repeat: repeat;
  font-family: "Brewsky";
}

.welcome-page {
  position: relative;
  width: 100%;
  margin-top: 100px;
}

.welcome-page img {
margin-left: 200px;
box-shadow: inset 0 0 60px #9dc8e3;
}

p {
  text-align: center;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  
}

h1 {
  text-align: center;
}
button {
    width: 100px;
    height: 100px;
    border: 5px solid #9dc8e3;
    border-radius: 10px;
    background: red;
    box-shadow: inset 0 0 80px #9dc8e3;
    background-size: contain;
    display: inline-block;
    padding: 1px;
    cursor: pointer;
    width: 20%;
    color: #61a269;
    font-size: 40px;
    font-family: "Brewsky";

    
}

#easy {
  margin-left: 250px;
  background: yellow;
}



img {
  border-radius: 15px;
  margin-left: 300px;
  border: 1px solid white;
  margin-top: 10px;
}

.container {
  height: 300px;
  width: 300px;
  border: 3px solid white;
  background-color: #c4d8e4;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 15px;
  

}

ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none;

  }

.puzzle-piece{
  height: 100px;
  width: 100px;
  border: 1px solid transparent;
  float: left;


}

.puzzle-draw {
  height: 400px;
  width: 400px;
  border: 1px solid transparent;
  float: right;
  margin-top: -300px;
  
  


  
}

.draw-piece{
  height: 100px;
  width: 100px;
  border: 1px hidden transparent;
  background-color: transparent;
  display: inline-block;
}


#pieceFour, #pieceSix {margin-top: -28px;}
#pieceSix {margin-left: -19px;}
#pieceTwo, #pieceThree { margin-left: -19px;}
#pieceTwo {margin-left: -21px;}
#pieceFive {margin-left: -29px; margin-top: -19px;}
#pieceEight  {margin-left: -175px; margin-top: 58px;}
#pieceNine  { margin-left: -20px; margin-top: -22px;}
#pieceSeven { margin-left: -256px; margin-top: 50px;}

#pieceOneCopy { background-image: url('../images/pieceone.png');
}
#pieceTwoCopy {background-image: url('../images/piecetwo.png');}
#pieceThreeCopy {background-image: url('../images/piecethree.png')}
#pieceFourCopy { background-image: url('../images/piecefour.png');}
#pieceFiveCopy {background-image: url('../images/piecefive.png');}
#pieceSixCopy {background-image: url('../images/piecesix.png')}
#pieceSevenCopy { background-image: url('../images/pieceseven.png');}
#pieceEightCopy {background-image: url('../images/pieceeight.png');}
#pieceNineCopy {background-image: url('../images/piecenine.png')}


#screenTwo, #screenThree {
  width: 80px;
  height: 22px;
  background-color: #444;
  background-image: linear-gradient(300deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  border-radius: 4px;
  
  text-align: center;
  font-family: 'PT Mono', monospace;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  padding: 5px;
  

}






.hard-level .container {
  height: 400px;
  width: 400px;
  border: 3px solid white;
  background-color: #c4d8e4;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 15px;
  
}

.hard-level .puzzle-piece {
  height: 98px;
  width: 98px;
  border: 1px solid black;
  float: left;


}

.hard-level .puzzle-draw {
  height: 350px;
  width: 350px;
  border: 1px solid white;
  margin-right: 0px;
  margin-top: -500px;
  
 
}

.hard-level .draw-piece {
  height: 98px;
  width: 98px;
  border: 0px hidden transparent;
  background-color: transparent;
  display: inline-block;
}

#pieceOnehardCopy { background-image: url('../images/pieceonehard.png');background-repeat: no-repeat;}
#pieceTwohardCopy {background-image: url('../images/piecetwohard.png');background-repeat: no-repeat;}
#pieceThreehardCopy {background-image: url('../images/piecethreehard.png'); background-repeat: no-repeat;}
#pieceFourhardCopy { background-image: url('../images/piecefourhard.png'); background-repeat: no-repeat;}
#pieceFivehardCopy {background-image: url('../images/piecefivehard.png');background-repeat: no-repeat;}
#pieceSixhardCopy {background-image: url('../images/piecesixhard.png'); background-repeat: no-repeat;}
#pieceSevenhardCopy { background-image: url('../images/piecesevenhard.png'); background-repeat: no-repeat;}
#pieceEighthardCopy {background-image: url('../images/pieceeighthard.png'); background-repeat: no-repeat;}
#pieceNinehardCopy {background-image: url('../images/pieceninehard.png'); background-repeat: no-repeat;}
#pieceTenhardCopy { background-image: url('../images/piecetenhard.png'); background-repeat: no-repeat;}
#pieceElevenhardCopy {background-image: url('../images/pieceelevenhard.png'); background-repeat: no-repeat;}
#pieceTwelvehardCopy {background-image: url('../images/piecetwelvehard.png'); background-repeat: no-repeat;}
#pieceThirteenhardCopy { background-image: url('../images/piecethirteenhard.png'); background-repeat: no-repeat;}
#pieceFourteenhardCopy {background-image: url('../images/piecefourteenhard.png'); background-repeat: no-repeat;}
#pieceFifteenhardCopy {background-image: url('../images/piecefifteenhard.png'); background-repeat: no-repeat;}
#pieceSixteenhardCopy {background-image: url('../images/piecesixteenhard.png'); background-repeat: no-repeat;}

#pieceTwohard, #pieceThreehard, #pieceFourhard, #pieceSixhard, #pieceSevenhard, #pieceEighthard, #pieceTenhard, #pieceElevenhard, #pieceTwelvehard, #pieceFourteenhard, #pieceFifteenhard, #pieceSixteenhard {
  margin-left: -15px;
}

#pieceFivehard, #pieceSixhard, #pieceSevenhard, #pieceEighthard, #pieceNinehard, #pieceTenhard, #pieceElevenhard, #pieceTwelvehard, #pieceThirteenhard, #pieceFourteenhard, #pieceFifteenhard, #pieceSixteenhard {
  margin-top: -15px;
}

