body {
  box-sizing: border-box;
}

.container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  

}

ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none;

  }

.puzzle-piece{
  height: 98px;
  width: 98px;
  border: 1px solid black;
  float: left;


}

.puzzle-draw {
  height: 500px;
  width: 500px;
  border: 1px solid black;


  
}

.draw-piece{
  height: 88px;
  width: 88px;
  border: 1px solid black;
  background-color: blue;
  display: inline-block;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }
