body {
  
  
  background-image: url("http://www.revolutionsinwood.com/img/background/v.jpg");
  background-repeat: no-repeat;
}

img {
  border-radius: 15px;
  margin-left: 300px;
  border: 1px solid white;
  margin-top: 10px;
}

.container {
  height: 270px;
  width: 300px;
  border: 3px solid white;
  background-color: #c4d8e4;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 15px;
  

}

ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none;

  }

.puzzle-piece{
  height: 100px;
  width: 100px;
  border: 1px solid transparent;
  float: left;


}

.puzzle-draw {
  height: 350px;
  width: 350px;
  border: 1px solid white;
  float: right;
  margin-bottom: 400px;
  margin-top: -310px;
  


  
}

.draw-piece{
  height: 100px;
  width: 100px;
  border: 1px hidden transparent;
  background-color: transparent;
  display: inline-block;
}

#pieceFour, #pieceSix {
  margin-top: -28px;
}

#pieceSix {
  margin-left: -19px;
}

#pieceTwo, #pieceThree {
  margin-left: -19px;
}

#pieceTwo {
  margin-left: -21px;
}
#pieceFive {
  margin-left: -29px;
  margin-top: -19px;
}



#pieceEight  {
  margin-left: -175px;
  margin-top: 58px;
  
}

#pieceNine  {
  margin-left: -20px;
  margin-top: -22px;
  
  
  

}

#pieceSeven {
margin-left: -256px;
margin-top: 50px;
}






#pieceOneCopy { background-image: url('../images/pieceone.png');}
#pieceTwoCopy {background-image: url('../images/piecetwo.png');}
#pieceThreeCopy {background-image: url('../images/piecethree.png')}
#pieceFourCopy { background-image: url('../images/piecefour.png');}
#pieceFiveCopy {
  background-image: url('../images/piecefive.png');
 
}
#pieceSixCopy {background-image: url('../images/piecesix.png')}
#pieceSevenCopy { background-image: url('../images/pieceseven.png');}
#pieceEightCopy {background-image: url('../images/pieceeight.png');}
#pieceNineCopy {background-image: url('../images/piecenine.png')}


#screenTwo {
  width: 80px;
  height: 22px;
  background-color: #444;
  background-image: linear-gradient(300deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  border-radius: 4px;
  margin: auto;
  position: relative;
  top: 75px;
  text-align: center;
  font-family: 'PT Mono', monospace;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  padding: 5px;
}